<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <app-sidebar></app-sidebar>

                    <!-- Tombol Tambah Produk di pojok kanan -->
                    <div class="d-flex justify-content-end mb-3">
                        <a (click)="onCategory()" class="btn btn-danger text-white btn-sm">
                            <i class="mdi mdi-plus"></i> Kategori
                        </a>
                        <a (click)="onAddProduct()" class="btn btn-danger text-white btn-sm">
                            <i class="mdi mdi-plus"></i> Tambah Pos
                        </a>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Judul</th>
                                <th>Kategori</th>
                                <th>Tgl Terbit</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of posts; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ post.judul }}</td>
                                <td>{{ post.nm_kategori }}</td>
                                <td>{{ post.tgl | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <a [routerLink]="['/ubah-pos', post.id_pos]" class="btn btn-warning btn-sm">
                                        Edit
                                    </a>
                                    <button class="btn btn-danger btn-sm" (click)="deletePost(post.id_pos)">
                                        Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>