<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let stat of stats">
            <div class="mini-stat clearfix" [ngClass]="stat.color">
                <span class="font-40 text-white mr-0 float-right"><i [class]="stat.icon"></i></span>
                <div class="mini-stat-info mt-3 float-left">
                    <span class="text-white">{{ stat.title }}</span>
                </div>
                <div class="clearfix"></div>
                <p class="mb-0 m-t-10 text-muted">
                <h4 class="counter font-light mt-0 text-white">{{ stat.value }}</h4>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="stok">
    <div class="container">
        <div class="card pr-4">
            <div class="card-body">
                <canvas #myChart></canvas>
            </div>
        </div>
    </div>
</div>