body {
    color: #fff;
    background: url(../../assets/img/bg-login-customer.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

.form-control,
.btn {
    border-radius: 5px;
}

.signup-form {
    width: 390px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(222, 222, 222, 0.8);
    border-radius: 5px;
}

.signup-form h2 {
    color: rgb(55, 55, 55);
    font-weight: bold;
    text-align: center;
}

.signup-form p {
    text-align: center;
}

.signup-form hr {
    border: 1px solid #3498db;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form .form-control {
    min-height: 38px;
    background-color: rgba(105, 105, 105, 0.6);
    color: white;
    border: none;
}

.signup-form .input-group-addon {
    background-color: #3498db;
    border: none;
    color: white;
    text-align: center;
    width: 42px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3498db;
    border: none;
    width: 100%;
    padding: 10px;
}

.signup-form .btn:hover {
    background: #0e6caa;
}

.signup-form a {
    color: #3498db;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

.sosmed {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sosmed-items {
    color: white;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.sosmed-items:hover {
    background-color: white;
    color: #000;
}
