<footer>
    <div class="footer-container">
        <div class="container-fluid text-center text-md-left">
            <div class="row text-white">
                <div class="col-md-2 mx-auto">
                    <p>About Us</p>
                    <p>My Furniture offers high-quality furniture and household appliances for every home.</p>
                </div>
                <div class="col-md-2.5 mx-auto">
                    <p>Customer Service</p>
                    <ul class="list-unstyled">
                        <li><a href="#!">Contact Us</a></li>
                        <li><a href="#!">Ordering & Payment</a></li>
                        <li><a href="#!">Delivery</a></li>
                        <li><a href="#!">Return</a></li>
                        <li><a href="#!">Related Questions</a></li>
                    </ul>
                </div>
                <div class="col-md-1.5 mx-auto">
                    <p>Information</p>
                    <ul class="list-unstyled">
                        <li><a href="#!">Privacy Policy</a></li>
                        <li><a href="#!">Terms and Conditions</a></li>
                        <li><a href="#!">Press</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mx-auto footer-newsletter">
                    <p>Feedback</p>
                    <form action="#">
                        <input class="btn i" type="email" placeholder="Your Email">
                        <button class="btn o" type="submit">OK</button>
                    </form>
                </div>
                <div class="col-md-2 mx-auto">
                    <p>Contact Us</p>
                    <ul class="list-unstyled">
                        <li>+62 8167 2837 2626</li>
                        <li>myfurniture&#64;gmail.com</li>
                        <li>Jl.Sukasaya Km 17</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        ©2020 Copyright: Mahiahijab
    </div>
</footer>