.row {
    margin-left: 0;
    margin-right: 0;
}

.row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

#containt {
    margin-top: 80px;
}

.star-rating i {
    font-size: 17px;
    color: #ffc000;
}

.dec {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #555;
}

