.row {
    margin-left: 0;
    margin-right: 0;
}

.row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

#containt {
    margin-top: 80px;
}

.star-rating i {
    font-size: 17px;
    color: #ffc000;
}

.dec {
    width: 100%;
    height: auto;
    border: 2px solid #3498db;
}
