<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <app-sidebar></app-sidebar>

                    <h2 class="mb-4 text-center">Tambah Postingan Baru</h2>
                    <form [formGroup]="postForm" (ngSubmit)="submitPost()">
                        <label>Judul</label>
                        <input type="text" formControlName="judul" class="form-control" />

                        <label>Isi Postingan</label>
                        <textarea formControlName="isi" class="form-control"></textarea>

                        <label>Kategori</label>
                        <select formControlName="kategori" class="form-control">
                            <option *ngFor="let kat of categories" [value]="kat.id_kategori">{{ kat.nm_kategori }}
                            </option>
                        </select>

                        <label>Gambar</label>
                        <input type="file" (change)="convertToBase64($event)" class="form-control" />
                        <small *ngIf="postForm.get('gambar')?.hasError('invalidBase64')" class="text-danger">
                            Format gambar tidak valid!
                        </small>

                        <button type="submit" class="btn btn-success">Pos Sekarang</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>