<aside class="app-sidebar">
    <nav>
        <h3>MAHIAHIJAB</h3>
        <a (click)="onDashboard()" style="cursor: pointer;">Dashboard</a>
        <a routerLink="/admin/pos" routerLinkActive="active">Postingan</a>
        <a (click)="onProduct()" style="cursor: pointer;">Produk</a>
        <a (click)="onPelanggan()" style="cursor: pointer;">Pelanggan</a>
        <a routerLink="/admin/order" routerLinkActive="active">Order</a>
        <a (click)="onLogout()" style="cursor: pointer;">Logout</a>

    </nav>
</aside>
